

<h1 class="container bg-white text-center my-4 py-4">TremendaVersion0.3</h1>


<div class="container">
  <div class="row">
     
    <button class="btn btn-dark col-lg-3  ">Inicio</button>
    <button class="btn btn-dark col-lg-2  "(click)="show=!show">Ganancias y Perdidas </button>
    <button class=" btn btn-dark col-lg-2 "(click)="show2=!show2">Ventas por platillo</button>
    <button class=" btn btn-dark col-lg-2" (click)="show3=!show3">Uber encuesta</button>
    <button class="btn btn-dark col-lg-3">Tutoriales</button>

</div>

</div>



<iframe width="1280" height="800" *ngIf="show" src="https://app.powerbi.com/reportEmbed?reportId=175dc3f1-010f-46cf-90a8-2f2839922f45&autoAuth=true" frameborder="0" allowFullScreen="true"></iframe>



<iframe width="1280" height="900" *ngIf="show2" src="https://app.powerbi.com/reportEmbed?reportId=5eb7a4f3-d0a2-43e5-939a-cef3ec00ea20&autoAuth=true" frameborder="0" allowFullScreen="true"></iframe>

<iframe width="1280" height="900" *ngIf="show3" src="https://app.powerbi.com/view?r=eyJrIjoiZGEzNjUwYTMtMDU0OC00ZjU1LWFkOGYtMTBmOGM2NTk5YzRjIiwidCI6IjIyZDRhODI5LTUzZGQtNGYwZC1iYjFjLTY2YWJlYTViZWY0OSIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>



<div class="container">
  <div class="row">


<ng-template id="elije" class="col-lg-12"> 

  <h1>Elije un Reporte </h1>

</ng-template>
</div>
</div>

